<div class="jumbotron">
    <h1 class="display-4 text-center">Welcome!</h1>
    <p class="lead text-monospace d-inline-flex">Welcome to the Book Library. It is a library store where you can find many books as your desire and you can also read them if available</p>
    <hr class="my-4">
    <p class="lead">
        <center><a class="btn btn-primary text-center" asp-controller="book" asp-action="Index" role="button">Visit Library Section</a></center>
    </p>
</div>