
@inject Microsoft.AspNetCore.Identity.SignInManager<CustomizeUser> _db;

@if (_db.IsSignedIn(User))
{
    @*<li class="nav-item dropdown">
            <div>
                <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Hello @User.Identity.Name
                </a>
            </div>

            <div class="dropdown-menu">
                <a asp-action="Logout" asp-controller="Account" class="dropdown-item">Log Out</a>
            </div>
        </li>*@

    <div class="dropdown dropdown">
        <a  class="btn btn-outline-success text-dark dropdown-toggle" data-toggle="dropdown">
            Hello @User.Identity.Name
        </a>
        <div class="dropdown-menu">
            <a asp-action="Logout" asp-controller="Account" class="dropdown-item">Log Out</a>
        </div>
    </div>

}
else
{

        <div class="btn-split">
            <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path" class="btn btn-outline-primary">Login</a>
        
            <a asp-action="SignUp" asp-controller="Account" class="btn btn-outline-danger">Registration</a>
        </div>

}


