
@inject Microsoft.AspNetCore.Identity.SignInManager<CustomizeUser> _db;

@if (_db.IsSignedIn(User))
{

    <div class="dropdown dropdown">
        <a  class="btn btn-outline-success text-dark dropdown-toggle" data-toggle="dropdown">
            Hello @User.FindFirst("FirstName").Value
        </a>
        <div class="dropdown-menu">
            <a asp-action="changepassword" asp-controller="Account" class="dropdown-item">Change Password</a>
            <a asp-action="Logout" asp-controller="Account" class="dropdown-item">Log Out</a>
        </div>
    </div>

}
else
{

        <div class="btn-split">
            <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path" class="btn btn-outline-primary">Login</a>
        
            <a asp-action="SignUp" asp-controller="Account" class="btn btn-outline-danger">Registration</a>
        </div>

}


