@model IEnumerable<BookModel>
@{
    ViewData["Title"] = "Index";
}

    <div class="container">
        <div class="row">
            <div class="col-md-12 p-5">
                <div>
                    <h3 class="display-4 d-inline-block">All Books</h3>
                    <a asp-action="CreateBook" class="btn btn-primary text-light float-right">Add New Book</a>
                </div>
            </div>
        </div>
       

        <div class="row">

            @foreach (var item in Model)
            {
            <div class="col-4">
                <partial name="_bookThumbnail" model="@item" />
            </div>
            }

               
            </div>
    </div>

