@model IEnumerable<BookModel>

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-3  d-flex  mb-3">
            <partial name="_bookThumbnail" model="@item" />
        </div>
    }


</div>